<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>REGISTRATION</title>
</head>
<body>
<form align="center" th:method="POST" th:action="@{/admin/register}" th:object="${user}">

    <label> Enter Username</label>
    <input type="text" th:field="*{username}" /><br>
    <label for="surname">Enter Surname</label>
    <input type="text" th:field="*{surname}" id="surname"/><br>
    <label for="email">Enter Email</label>
    <input type="text" th:field="*{email}" id="email"/><br>
    <label for="password">Enter Password</label>
    <input type="text" th:field="*{password}" id="password"/><br>


<!--    <label>Select role:</label> <br>-->
<!--    <input type="checkbox" th:field="*{roles}" th:value="ROLE_ADMIN" />Admin<br/>-->
<!--    <input type="checkbox" th:field="*{roles}" th:value="ROLE_USER" />User<br/>-->

    <label>Roles: </label>
    <select multiple name="roles" size="2" th:field="*{roles}">
        <option th:each="role : ${listRoles}" th:value="${role}" th:text="${role.getName()}"/>
    </select>


<input type="submit" value = "REGISTER"/>
</form>
</body>
</html>